<!-- About Section -->
<section id="about"
         class="about section">

  <!-- Section Title -->
  <app-title-bar Title='About'
                 Message='Who We are'>

  </app-title-bar>
  <!-- End Section Title -->

  <div class="container">

    <div class="row gy-12">

      <div class="col-lg-12 content">
        <p>
          Helping companies track, manage, and optimize daily work effortlessly
        </p>
        <p>
          At TaskMaster, our mission is to empower teams to stay organized and productive. We provide companies with a
          simple yet
          powerful platform to log daily tasks, monitor progress, and gain actionable insights through real-time
          analytics.
        </p>
        <!-- <ul>
          <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
              velit.</span></li>
          <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo</span></li>
        </ul> -->
      </div>
    </div>

  </div>

</section><!-- /About Section -->