<footer id="footer"
        class="footer dark-background">
  <div class="container">
    <h3 class="sitename">TaskMaster</h3>
    <p>Empowering Teams. Tracking Tasks. Driving Productivity..</p>
    <div class="social-links d-flex justify-content-center">
      <a href=""><i class="bi bi-twitter-x"></i></a>
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-skype"></i></a>
      <a href=""><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="container">
      <div class="copyright">
        <span>Copyright</span> <strong class="px-1 sitename">TaskMaster</strong> <span>All Rights Reserved</span>
      </div>
      <div class="credits">
        Designed by <a href="https://YaserMadadi.github.io/TaskMaster/">TaskMaster</a>
      </div>
    </div>
  </div>
</footer>